
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #131A22;
  overflow: hidden;
  margin-left: 0
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: orangered;
  color: white
}

#login, #register{
  float: right;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: orangered;
  color: white
}
#menu{
  font-size:17px
}

.overlay {
  position:fixed;
  display:none;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.5);

  z-index:2;
  cursor:pointer
}

#coso {
  transition: 0.3s
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none
}

body {
  font-family: 'Roboto', sans-serif
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.sidebar {
  position: fixed;
  top: auto;
  left: 0;
  width: 0;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
  display:none;
  z-index:5
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: orangered;
  user-select: none
}
.sidebar a{
  display: block;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s
}
.sidebar a:hover{
  padding-left: 50px;
  background-color: orangered
}

#header_sidebar{
  font-family:  "Brush Script MT" ;
  font-size: 36px;
}

.container{
  padding:0.01em 16px
}

.container:after,.container:before{
  content:"";
  display:table;
  clear:both
}

.lang {
  font-size: 26px;
}

.center{
  width:auto;
  text-align:center!important
}

.margin{
  margin:16px!important
}

.margin-top{
  margin-top:16px!important
}

.margin-bottom{
  margin-bottom:16px!important
}

.margin-left{
  margin-left:16px!important
}

.margin-right{
  margin-right:16px!important
}
#title1 {
  font-family: "Brush Script MT";
}

.button{
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}

.button:hover{
  color:#000!important;
  background-color:#ccc!important
}

.button2 {
  background-color: orangered;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button2:hover {
  opacity: 0.8;
}

.course_button {
  font-size: 40px;
  border: none;
  padding: 10px;
  background-color: orangered;
  color: white;
  margin-left: 50%;
  margin-top: 10%;
  border-radius: 8px;
  cursor: pointer;
}

.padding-large{
  padding:12px 24px!important
}

.row-padding{
  padding:0 8px
}

.padding-32{
  padding-top:32px!important;
  padding-bottom:32px!important
}

.padding-64{
  padding-top:64px!important;
  padding-bottom:64px!important
}

.content{
  max-width:980px;
  margin-left:auto;
  margin-right:auto
}

.twothird{
  float:left;
  width:66.66666%
}

.large{
  font-size:18px!important
}

.xlarge{
  font-size:24px!important
}

.jumbo{
  font-size:64px!important
}

.opacity{
  opacity:0.60
}

.text-gray{
  color:#757575!important
}

.blu{
  color:white!important;
  background-color:#042331!important
}

.blu2{
  color:white!important;
  background-color:#367588!important
}

.black{color:#fff!important;
  background-color:#000!important
}

.red{
  color:#fff!important;
  background-color:#f44336!important
}

.light-gray{
  color:#000!important;
  background-color:#f1f1f1!important
}

.steelblue {
  background-color: steelblue!important;
  color: white!important
}

.midnightblue {
  background-color: midnightblue!important;
  color: white!important
}

.logo {
  float:right;
  width: 200px;
  height: 200px;
}

.logo2 {
  float:left;
  width: 200px;
  height: 200px;
}

#jl {
  width: 200px;
  height: 300px
}

#cb2 {
  margin-top: 8%
}

form {
  border: 3px solid #f1f1f1;
}

/* Extra style for the cancel button (red) */
#cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

#titleLog {
  padding:32px;
  text-align: center;
  font-family: "Brush Script MT"
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 99%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: orangered;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.play_button {
  font-size: 100px;
  border: none;
  padding: 10px;
  background-color: orangered;
  color: white;
  margin-left: 50%;
  margin-top: 10%;
  border-radius: 8px;
  cursor: pointer;
}

/*game.html */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.container1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  transform-style: preserve-3d;
}

.container1 .box{
  position: relative;
  width: 250px;
  height: 400px;
  margin: 25px;
  background: #232323;
  border-radius: 20px;
  transform-style: preserve-3d;
}

.container1 .box::before{
  content: 'LEARN';
  position: center;
  top: 20px;
  left: 10px;
  font-size: 80px;
  font-weight: 800;
  color: #ffffff;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}

.container1 .box::after{
  content: 'NOW';
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 5em;
  font-weight: 900;
  color: #ffffff;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;

}
.container1 .box:hover::before, .container1 .box:hover::after{
  opacity: 0.04;

}


.container1 .box .name{
  position:absolute;
  top:0;
  left:0;
  text-align: center;
  color: #fff;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0,0,75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.container1 .box:hover .name{
  top:40px;
  opacity: 1;
}


.container1 .box .buy{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%,0,75px);
  color: white;
  background: #333;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.container1 .box:hover .buy{
  bottom: 30px;
  opacity:1;
}

/*.container1 .box .circle{
  position: absolute;
  top: 50%;
  left: 50%;
   width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
  background: white;
  transform-style: preserve-3d;
  z-index: 10;
  opacity: 1;
  transform: translate3d(-50%,-50%,50px);
}*/

.container1 .box .product{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transition: 0.5s;
  z-index: 11;
  transform-style: preserve-3d;
  transform: translate3d(-50%,-50%,50px);
}

.container1 .box:nth-child(1) .circle,
.container1 .box:nth-child(1) .buy{
  background: #379bf7;
}

.container1 .box:nth-child(2) .circle,
.container1 .box:nth-child(2) .buy{
  background: #379bf7;
}

.container1 .box:nth-child(3) .circle,
.container1 .box:nth-child(3) .buy{
  background: #379bf7;
}

.container1 .box:nth-child(4) .circle,
.container1 .box:nth-child(4) .buy{
  background: #379bf7;
}