<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/css/Stile.css">
  <title> Proglearn </title>
</head>
<body>
<div class="topnav">
  <a id="menu" onclick="sidebar_open()">&#9776;</a>
  <a href="index.html">Home</a>
  <a href="languages.html">Lessons</a>
  <a class="active" href="#data_structures">Games</a>
  <a id="register" href="Register.html">Register</a>
  <a id="login" href="Login.html">Login</a>
</div>
<div id="mySidebar" class="sidebar">
  <header id="header_sidebar">ProgLearn</header>
  <!--  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  -->
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div class="overlay" onclick="sidebar_close()" style="cursor:pointer" id="myOverlay"></div>

<header class="container red center" style="padding:128px">
    <h1 class="margin jumbo"> Games </h1>
  <h2> Select the programming language you want to play with </h2>
</header>

<div class="row-padding steelblue padding-64 container">
  <div class="content">
    <img class="logo2" src="../static/img/C_Logo.png">
    <div class="twothird lang">
      <button id="cb1" class="play_button"> Play! </button>
    </div>
  </div>
</div>

<div class="row-padding padding-64 container blu2" >
  <div class="content">
    <img class="logo2" src="../static/img/C++_logo.png">
    <div class="twothird">
      <button id="cb2" class="play_button"> Play! </button>
    </div>
  </div>
</div>

<div class="row-padding midnightblue padding-64 container">
  <div class="content">
    <img id="jl" class="logo2" src="../static/img/Java_logo.png">
    <div class="twothird">
      <button class="play_button"> Play! </button>
    </div>
  </div>
</div>

<div class="row-padding light-grey padding-64 container blu">
  <div class="content">
    <img class="logo2" src="../static/img/Python_logo.png">
    <div class="twothird">
      <button class="play_button"> Play! </button>
    </div>
  </div>
</div>

<script src="../static/js/Prova.js"> </script>
</body>
</html>
