<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/Style.css">
</head>
<body id="body_games">
<div class="topnav">
    <a href="{{url_for('root')}}">Home</a>
    <a href="{{url_for('languages')}}">Lessons</a>
    <a class="active" href="#Games">Games</a>
    {% if session["username"] %}
    <a id="register" href="{{url_for('profile',username=session['username'])}}">{{session["username"]}}</a>
    <a id="login" href="{{url_for('logout')}}">Logout</a>
    {% else %}
    <a id="register" href="{{url_for('register')}}">Register</a>
    <a id="login" href="{{url_for('login')}}">Login</a>
    {% endif %}
</div>

<div class="container1">
    <div class="box">
        <h2 class="name"> C </h2>
        {% if session["username"] %}
        {% if c=="base" or c=="medium" or c=="advanced" %}
        <a href="{{url_for('quiz_c',level='base')}}" class="quiz0 quiz01" >Base Quiz</a>
        {% endif %}
        {% if c=="medium" or c=="advanced" %}
        <a href="{{url_for('quiz_c',level='medium')}}" class="quiz0 quiz02" >Medium Quiz</a>
        {% endif %}
        {% if c=="advanced" %}
        <a href="{{url_for('quiz_c',level='advanced')}}" class="quiz0 quiz03">Advanced Quiz</a>
        {% endif %}
        {% else %}
        <a href="{{url_for('login')}}" class="quiz0 quiz01">Quiz</a>
        {% endif %}
        <img src="../static/img/C_Logo.png" class="product">
    </div>
    <div class="box">
        <h2 class="name"> C++ </h2>
        {% if session["username"] %}
        {% if cplusplus=="base" or cplusplus=="medium" or cplusplus=="advanced" %}
        <a href="{{url_for('quiz_cplusplus',level='base')}}" class="quiz0 quiz01">Base Quiz</a>
        {% endif %}
        {% if cplusplus=="medium" or cplusplus=="advanced" %}
        <a href="{{url_for('quiz_cplusplus',level='medium')}}" class="quiz0 quiz02">Medium Quiz </a>
        {% endif %}
        {% if cplusplus=="advanced" %}
        <a href="{{url_for('quiz_cplusplus',level='advanced')}}" class="quiz0 quiz03">Advanced Quiz </a>
        {% endif %}
        {% else %}
        <a href="{{url_for('login')}}" class="quiz0 quiz01"> Quiz </a>
        {% endif %}
        <div class="circle"></div>
        <img src="../static/img/C++_logo.png" class="product">
    </div>
    <div class="box">
        <h2 class="name"> Java </h2>
        {% if session["username"] %}
        {% if java=="base" or java=="medium" or java=="advanced" %}
        <a href="{{url_for('quiz_java',level='base')}}" class="quiz0 quiz01">Base Quiz</a>
        {% endif %}
        {% if java=="medium" or java=="advanced" %}
        <a href="{{url_for('quiz_java',level='medium')}}" class="quiz0 quiz02">Medium Quiz</a>
        {% endif %}
        {% if java=="advanced" %}
        <a href="{{url_for('quiz_java',level='advanced')}}" class="quiz0 quiz03">Advanced Quiz</a>
        {% endif %}
        {% else %}
        <a href="{{url_for('login')}}" class="quiz0 quiz01">Quiz</a>
        {% endif %}
        <div class="circle"></div>
        <img src="../static/img/Java_logo.png" class="product" style="width: 60%;">
    </div>
    <div class="box">
        <h2 class="name"> Python </h2>
        {% if session["username"] %}
        {% if python=="base" or python=="medium" or python=="advanced" %}
        <a href="{{url_for('quiz_python',level='base')}}" class="quiz0 quiz01">Base Quiz</a>
        {% endif %}
        {% if python=="medium" or python=="advanced" %}
        <a href="{{url_for('quiz_python',level='medium')}}" class="quiz0 quiz02">Medium Quiz</a>
        {% endif %}
        {% if python=="advanced" %}
        <a href="{{url_for('quiz_python',level='advanced')}}" class="quiz0 quiz03">Advanced Quiz</a>
        {% endif %}
        {% else %}
        <a href="{{url_for('login')}}" class="quiz0 quiz01">Quiz</a>
        {% endif %}
        <div class="circle"></div>
        <img src="../static/img/Python_logo.png" class="product">
    </div>
</div>
<script src="../static/js/vanilla-tilt.min.js"></script>
<script>
    VanillaTilt.init(document.querySelectorAll(".box"), {
        max: 25,
        speed: 400
    });
</script>
<script src="../static/js/main.js"> </script>
</body>
</html>